extends ../node_modules/jade-bootstrap/_bootstrap

include mixins.jade

append scripts
  script(src="mqttws31.js")
  script(src="DataReceiver.js")

append body
  script(src="https://code.jquery.com/jquery-3.0.0.js")
  +menubar

  .row(id="control")
    .col-sm-4
    .col-sm-4
      button(type="button", class="btn btn-danger" id="connectButton") Disconnected
    .col-sm-4

  +live_table