extends main.jade

append styles
  link(rel="stylesheet", href="dashboard.css")
  link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Open+Sans")

append body

  .row
    .col-sm-4
    .col-sm-4
      h2 SGMeteo Live Dashboard
      h3 version 1.0.0
      h3 &copy; Piotr Kasprowicz
      h4 kasprowiczpiotr@gmail.com
    .col-sm-4
