extends main.jade

include mixins.jade

append body

  .row
    .col-sm-4
    .col-sm-4
      h2 SGMeteo Live Dashboard
      h3 version 1.0.0
      h3 &copy; Piotr Kasprowicz
      h4 kasprowiczpiotr@gmail.com
    .col-sm-4
