extends main.jade

include mixins.jade

append body

  .row(id="control")
    .col-sm-4
    .col-sm-4
      button(type="button", class="btn btn-danger" id="connectButton") Disconnected
    .col-sm-4

  +live_table
