extends ../../node_modules/jade-bootstrap/_bootstrap

append scripts
  script(src="/sgmeteo/mqttws31.js")
  script(src="/sgmeteo/DataReceiver.js")
  script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.js")
  script(src="/sgmeteo/socket.io/socket.io.js")

  script.
    $(document).ready(
      function()
      {

        $("#menu ##{page}").addClass("active");
      }
    );

append body
  nav(class="navbar navbar-inverse")
    .container-fluid
      .navbar-header
        .navbar-brand
          |SGMeteo Live Dashboard
      ul(class="nav navbar-nav" id="menu")
        li(id="about")
          a(href="/sgmeteo/about") About
        li(id="dashboard")
          a(href="/sgmeteo/dashboard") Srebrna Góra
