extends main.jade

include mixins.jade

append body
  div(ng-app="Liveboard" ng-controller="LiveboardController")
    .row(id="control" )
      .col-sm-4
      .col-sm-4
        button(type="button", class="btn btn-danger" ng-click="clicker()") Disconnected
      .col-sm-4
    .row(id="measurements")
      .col-sm-4
      .col-sm-4
        div(class="panel panel-primary" ng-repeat="device in devList")
          .panel-heading Device {{device.id}}
          .panel-body
            table(class="table table-hover")
              caption Location: {{device.loc}}
              thead
                tr
                  th Measurement target
                  th Sensor
                  th Value
                  th MsgCount
              tbody
                tr(ng-repeat="measurement in device.measurements")
                  td {{measurement.place}}
                  td {{measurement.quantity}}
                  td(id="{{measurement.quantity}}") {{measurement.value}}
                  td(id="{{measurement.quantity}}Count") {{measurement.msgCount}}
                      
        div(class="well well-sm")
          |Last update : 
          span(id="timestamp")
            | n/a
      .col-sm-4

append scripts
  script(src="liveboard/liveboard.devicelist.js")
  script(src="test.js")
  //- script(src="liveboard/liveboard.dataprovider.js")
