extends main.jade

include mixins.jade

append body
  div(ng-app="Liveboard" ng-controller="LiveboardController")

    .row(id="measurements")
      .col-sm-4
      .col-sm-4
        .div(id="chart" width="1000" height = "400")
      .col-sm-4

append scripts
  link(href="c3.min.css"  rel="stylesheet" type="text/css")

  script(src="liveboard/liveboard.module.js")
  script(src="liveboard/liveboard.dataprovider.js")
  script(src="liveboard/liveboard.devicelist.js")
  script(src="liveboard/liveboard.create-chart.js")
  script(src="https://d3js.org/d3.v3.min.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.11/c3.min.js")
  script(src="test.js")
